.blue-popup{
	border: solid 5px #fff;
    background: #5382d4;
	border-radius: 10px;
	-webkit-box-shadow: 1px 1px 4px 4px rgba(2, 2, 2, 0.2);
	box-shadow: 1px 1px 4px 4px rgba(2, 2, 2, 0.2);
}

.blue-popup .rb-arrow-btn{
	text-shadow: 1px 1px #fff;
	background: #fff;
	color: #000;
	display: block;
}

.blue-popup .rb-options.selected{
	background: #c0c0f0;
}

.blue-popup .rb-options{
	background: #e3effc;
	color: #333;
}

.blue-popup .rb-action{
	background: #e3effc;	
}

.blue-popup .rb-action:hover{
	background: #c0c0f0;
}


.yellow-popup{
	border: solid 5px #fff;
    background: #dd8f1b;
	border-radius: 10px;
	-webkit-box-shadow: 1px 1px 4px 4px rgba(2, 2, 2, 0.2);
	box-shadow: 1px 1px 4px 4px rgba(2, 2, 2, 0.2);
}

.yellow-popup .rb-arrow-btn{
	text-shadow: 1px 1px #fff;
	background: #fff;
	color: #000;
	display: block;
}

.yellow-popup .rb-options.selected{
	background: #daab3b;
}

.yellow-popup .rb-options{
	background: #f5debb;
	color: #333;
}

.yellow-popup .rb-action{
	background: #f5debb;
}

.yellow-popup .rb-action:hover{
	background: #daab3b;
}



.black-popup{
	border: solid 5px #fff;
    background: #333;
	border-radius: 10px;
	-webkit-box-shadow: 1px 1px 4px 4px rgba(2, 2, 2, 0.2);
	box-shadow: 1px 1px 4px 4px rgba(2, 2, 2, 0.2);
}

.black-popup .rb-arrow-btn{
	text-shadow: 1px 1px #fff;
	background: #fff;
	color: #000;
	display: block;
}

.black-popup .rb-options.selected{
	background: #bbb;
}

.black-popup .rb-options{
	background: #f0f0f0;
	color: #333;
}

.black-popup .rb-action{
	background: #f0f0f0;
}

.black-popup .rb-action:hover{
	background: #bbb;
}

.rb-arrow-btn{
	position: absolute;
	text-align: center;
	width: 20px;
	height: 20px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-o-border-radius: 10px;
	-ms-border-radius: 10px;
	border-radius: 10px;
	cursor: pointer;
	font-weight: bold;
	font-size: 14px;
	line-height: 20px;
	right: -5px;
	top: -6px;
	opacity: 1;
}

.rb-header{
	width: 100%;
	height: 40px;
	word-wrap:break-word;
	font-size: 16px;
	font-weight: bold;
	color: white;
	over-flow: hidden;
}

.rb-options{
	width: 100%;
	height: 12px;
	opacity: 1;
	cursor: pointer;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
	border-radius: 5px;
	text-align: center;
	margin: 0px;
	margin-top: 10px;
	font-size: 13px;
	font-weight: bold;
	width: 100%;
	padding: 0px;
	padding-top: 12px;
	padding-bottom: 12px;
}

.rb-license{
	width: 50%;
	height: 11px;
	color: #fff;
	cursor: pointer;
	float: left;
	margin: 0px;
	margin-top: 10px;
	font-size: 13px;
	padding: 0px;
	padding-bottom: 12px;
}

.rb-completed{
	color: #fff;
	font-size: larger;
	text-align: center;
	font-weight: bold;
}

.rb-action{
	width: 40px;
	height: 12px;
	color: #222;
	cursor: pointer;
	float: right;
	margin: 0px;
	margin-top: 5px;
	font-size: 16px;
	padding: 4px 10px 13px 10px;
	text-align: center;
	border-radius: 5px;
}

.rb-action:hover{
	color: #fff;
}

.rb-answer{
	width: 240px;
	height: 100px;
	display: none;
	resize: none;
}